.products-section {
  margin-top: 150px;
  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    h1 {
      font-size: 50px;
    }
    p {
      font-size: 36px;
    }
  }

  
}
